{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}

{% include "navbar.html" %}
{% from "_profilehelpers.html" import render_field %}

<div class="container-fluid">
    <p>
    <h3>User Profile</h3>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img class="avatar img-circle" width="100" height="100" src="{{ url_for('auth_web.get_avatar_img', updated=session.updated) }}"
                     alt="avatar"/>
                <div id="field_div" style="display: none;">
                    <form method="POST" action="{{ url_for('auth_web.profile', updated=session.updated)}}" enctype=multipart/form-data role="form">
                        {{ form_avatar.hidden_tag() }}
                        {{ render_field(form_avatar.file, class='form-control') }}
                        {{ render_field(form_avatar.upload, class='btn btn-primary') }}
                    </form>
                </div>
                <div id="readonly_div">
                    <span>&ensp;<i style="cursor: pointer;" class="edit fa fa-edit">&nbsp;<i>edit</i></i></span>
                </div>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            {% if error %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-exclamation-triangle"></i>
            </div>
            {% endif %}
            <!--h3>Personal info</h3-->
            <form class="form-horizontal" method="POST" action="{{ url_for('auth_web.profile', updated=session.updated)}}" role="form">
                <div class="panel panel-default">
                    <div class="panel-heading">Personal Details <span class="pull-right">&ensp;<i style="cursor: pointer;" class="edit fa fa-edit">&nbsp;<i>edit</i></i></span></div>

                    <div class="panel-body" id="edit_form"
                        {% if form_profile.first_name.data == None %}
                            >
                        {% else %}
                            style="display: none;">
                        {% endif %}
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ render_field(form_profile.first_name, class='form-control') }}
                            </div>
                            <div class="col-lg-6">
                                {{ render_field(form_profile.last_name, class='form-control') }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ render_field(form_profile.gender, class='form-control') }}
                            </div>
                            <div class="col-lg-6">
                                {{ render_field(form_profile.date_of_birth, class='form-control') }}
                            </div>
                        </div>
                    </div>
                    {% if form_profile.first_name.data != None %}
                    <div class="panel-body" id="ro_info">
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ form_profile.first_name.label }}
                                <div class="clearfix"></div>
                                &ensp;{{ form_profile.first_name.data }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_profile.last_name.label }}
                                <div class="clearfix"></div>
                                &ensp;{{ form_profile.last_name.data }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ form_profile.gender.label }}
                                    <div class="clearfix"></div>
                                    &ensp;
                                    {% if form_profile.gender.data == 'M' %}
                                        Male &nbsp;<i style="cursor: pointer;" class="fa fa-mars"></i>
                                    {% elif form_profile.gender.data == 'F'  %}
                                        Female &nbsp;<i style="cursor: pointer;" class="fa fa-venus"></i>
                                    {% else %}
                                        None &nbsp;<i style="cursor: pointer;" class="fa fa-genderless"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="col-lg-6">
                                {{ form_profile.date_of_birth.label }}
                                    <div class="clearfix"></div>
                                    &ensp;{{ form_profile.date_of_birth.data }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Address <span class="pull-right">&ensp;<i style="cursor: pointer;" class="edit fa fa-edit">&nbsp;<i>edit</i></i></span></div>
                    <div class="panel-body" id="edit_form"
                         {% if form_profile.address_door_no_name.data == None %}
                            >
                        {% else %}
                            style="display: none;">
                        {% endif %}
                        <div class="form-group">
                            <div class="col-lg-3">
                                {{ render_field(form_profile.address_door_no_name, class='form-control') }}
                            </div>
                            <div class="col-lg-9">
                                {{ render_field(form_profile.address_street, class='form-control') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                {{ render_field(form_profile.address_line2, class='form-control') }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ render_field(form_profile.address_city, class='form-control') }}
                            </div>
                            <div class="col-lg-6">
                                {{ render_field(form_profile.address_county, class='form-control') }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ render_field(form_profile.address_postcode, class='form-control') }}
                            </div>
                            <div class="col-lg-6">
                                {{ render_field(form_profile.address_country, class='form-control') }}
                            </div>
                        </div>
                    </div>
                    {% if form_profile.address_door_no_name.data != None %}
                    <div class="panel-body" id="ro_info">
                        <div class="form-group">
                            <div class="col-lg-3">
                                {{ form_profile.address_door_no_name.label }}
                                <div class="clearfix"></div>
                                &ensp;{{ form_profile.address_door_no_name.data }}
                            </div>
                            <div class="col-lg-9">
                                {{ form_profile.address_street.label }}
                                <div class="clearfix"></div>
                                &ensp;{{ form_profile.address_street.data }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                {{ form_profile.address_line2.label }}
                                <div class="clearfix"></div>
                                &ensp;{{ form_profile.address_line2.data }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ form_profile.address_city.label }}
                                <div class="clearfix"></div>
                                &ensp;{{ form_profile.address_city.data }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_profile.address_county.label }}
                                <div class="clearfix"></div>
                                &ensp;{{ form_profile.address_county.data }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ form_profile.address_postcode.label }}
                                <div class="clearfix"></div>
                                &ensp;{{ form_profile.address_postcode.data }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_profile.address_country.label }}
                                <div class="clearfix"></div>
                                &ensp;{{ form_profile.address_country.data }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    {% if form_profile.address_door_no_name.data == None or form_profile.first_name.data == None%}
                        {{ render_field(form_profile.save, id="save", class='btn btn-primary') }}
                    {% else %}
                        {{ render_field(form_profile.save, id="save", class='btn btn-primary', disabled="true") }}
                    {% endif %}
                    <span></span>
                    {{ render_field(form_profile.cancel, id="cancel", class='btn btn-default') }}
                    <!--input type="reset" name="btn" class="btn btn-default" value="cancel"-->
                </div>
        </div>
        </form>
    </div>
</div>
</div>
<hr>

{% endblock %}